body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    
    padding: 15px;
}

td {
	vertical-align: top;
}



table{
	border-collapse: collapse;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    
}
	
a {	
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
}


a:visited {	
    color: #3B5998;
}

a:hover {
	color: #3B5998;
	text-decoration: underline;
}


.picture {
	width: 50px;
	padding-right: 5px;
}

.pic_square {
	width: 50px;
	height: 50px;
}

.name {
	font-size: 13px;
    font-weight: bold;
}


.time {
 	color: gray;
    line-height: 1.6;
}

.location {
	line-height: 1.28;
	color: #333333;
}


.etr {
	border-bottom: 1px solid #e9e9e9;  
}

.etable {
	width:100%;
}